HTTPS_RPC_URLS=https://idchain.one/rpc/,https://idchain.one/archive/rpc/
WSS_RPC_URLS=wss://idchain.one/ws/,wss://idchain.one/archive/ws/
SEALING_BORDER=5
DEADLOCK_BORDER=30
RELAYER_BALANCE_BORDER=1
RELAYER_ADDRESS=0x0df7eDDd60D613362ca2b44659F56fEbafFA9bFB
DISTRIBUTION_BALANCE_BORDER=5000
DISTRIBUTION_ADDRESS=0x6E39d7540c2ad4C18Eb29501183AFA79156e79aa
IDCHAIN_EXPLORER_URL=https://explorer.idchain.one/
IDCHAIN_ARAGON_URL=https://aragon.idchain.one/#/
EIDI_CLAIM_URL=https://idchain.one/begin/
EIDI_CLAIM_API=https://idchain.one/begin/api/claim
CHECK_INTERVAL=10
MAX_MSG_INTERVAL=86400
MIN_MSG_INTERVAL=3600
KEYBASE_BOT_KEY=your_keybase_paper_key
KEYBASE_BOT_USERNAME=your_keybase_username
KEYBASE_BOT_CHANNEL=your_keybase_channel
TELEGRAM_BOT_KEY=your_telegram_key
TELEGRAM_BOT_CHANNEL=your_telegram_channel
REDIS_HOST=redis
REDIS_PORT=6379
WATCHDOG_THRESHOLD=600
